@model IEnumerable<BankAccount>
@{
    ViewData["Title"] = "Index";
}

<section class="container">
    <h2>All Your Accounts</h2>
    <h3><a asp-controller="BankAccount" asp-action="MakeBankAccount">New Account</a> | <a asp-controller="Transaction" asp-action="Deposit">Deposit</a> | <a asp-controller="Transaction" asp-action="Withdraw">Withdraw</a></h3>
    @foreach (var account in Model)
    {
        <div class="col-sm-8 col-lg-6 col-md-6">
            <h3>
                <a asp-controller="BankAccount" asp-action="Details" asp-route-AccountNum="@account.AccountNum">
                    @account.AccountName
                </a>
            </h3>
            <p>Current Balance: $@account.Balance()</p>
        </div>
    }
</section>

