@model TransactionViewModel
@{
    ViewData["Title"] = "Deposit";
}

<h2>Create a Deposit</h2>
<form asp-action="Deposit" method="post" class="form-horizontal" role="form">

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="TranAmt" class="col-md-2 control-label">Enter deposit in format 00.00</label>
        <div class="col-md-5">
            <input asp-for="TranAmt" class="form-control" />
            <span asp-validation-for="TranAmt" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="TranMemo" class="col-md-2 control-label">Add Optional Memo</label>
        <div class="col-md-5">
            <textarea asp-for="TranMemo" class="form-control"></textarea>
            <span asp-validation-for="TranMemo" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
    @Html.LabelFor(m => m.TranAccountID)
    @Html.DropDownListFor(m => m.TranAccountID, new SelectList(Model.Accounts, "AccountNum", "AccountName"))
    @Html.ValidationMessageFor(m => m.TranAccountID)
</div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-5">
            <input type="submit" class="btn btn-primary" value="Deposit" />
        </div>
    </div>
</form>