@{
    ViewData["Title"] = "Home Page";
}

<h1>World Greatest Banking</h1>

<div class="row">
    <div class="col-md-3">
        <h2>View Transaction History</h2>
    </div>
    <div class="col-md-3">
        <h2>Deposit & Withdrawl</h2>
    </div>
    <div class="col-md-3">
        <h2>Manage Multiple Accounts</h2>
    </div>
</div>
