@{
    ViewData["Title"] = "Home Page";
}

<h1>World Greatest Banking</h1>

<h2>Before Logging In</h2>
<p>In Package Manager Console: run update-database</p>

<h2>After Database Creation</h2>
<p>Re-run the program tp seed database. Database has been seeded with account User:"test@test.com" Password:"Password1234!".
    The account has two demo bank accounts with a deposit and withdraw in each. Feel free to create your own account. Things that can be done in the application currently:</p>
<ul>
    <li>Create Bank Account</li>
    <li>View Account, Balance, and Transactions</li>
    <li>Create Deposit</li>
    <li>Create Withdraw</li>
</ul>

<h2>Possible Future Implementation</h2>
<ul>
    <li>Addition of Roles</li>
    <li>Validation on Logic for logged in user vs. current accounts</li>
    <li>Unit Testing usign MOQ framework</li>
    <li>Add email validation for log in as well as forgot password</li>
</ul>